body {
  font-family: helvetica;
}
header {
  background-image: url("../Images/pattern.jpg");
  font-weight: bold;
  font-size: 100px;
  color: khaki;
  text-align: center;
}
h2 {
  color: white;
  font-size: 32px;
  font-weight: bold;
}
#brushesTitle {
  background-color: mediumspringgreen;
}
#framesTitle {
  background-color: lightcoral;
}
#paintTitle {
  background-color: skyblue;
}
.prices {
  font-weight: bold;
  color: blue;
}
